.side-wrapper{
  margin: 10px;
}

.side-title{
  text-align: center;
  color: rgb(249, 248, 236);
  font-size: 35px;
  font-family: 'Caveat', cursive;
  margin: 30px 0;
}

.side-date{
  text-align: center;
  color: rgb(249, 248, 236);
  margin: 10px 0;
  font-family: 'Caveat', cursive;
  font-size: 25px;
}

.today-data .link1{
  color: rgb(80, 147, 180);
}

.today-data .link2{
  color: rgb(80, 147, 180);
  font-weight: bold;
}

.today-data{
  color: rgb(80, 147, 180);
  margin: 15px 0;
  padding: 10px 15px;
  background-color: rgb(249, 248, 236);
  border-radius: 30px;
}